#header{
	padding: 30px 0;
	background: #f6f6f6;
	position: absolute;
	top: 8px;
	left: 0;
	right: 0;
	z-index: 1;

	.container{
		max-width: 1020px;
		font-size: 0;
		line-height: 0;
	}
}

.logo{
	display: inline-block;
	vertical-align: middle;
	width: 20%;
	min-width: 134px;

	a{
		display: inline-block;
		vertical-align: top;

		&:hover{
			opacity: .7;
		}
	}

	img{
		vertical-align: top;
		width: 100%;
	}
}

.navbar{
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	width: 80%;
	font-size: 14px;
	line-height: 1.7;

	@include media('<=tablet') {
		display: none;
		text-align: left;
		padding: 20px 0 0;
		width: 100%;
	}

	.nav-list{
		@extend %listreset;

		>.has-dropdown{
			>a{
				&:after{
					display: none;

					@include media('<=tablet') {
						display: inline-block;
					}
				}
			}
		}
	}

	.active{
		a{
			cursor: default;

			&:after{
				left: 7px;
				right: 7px;
			}
		}
	}

	li{
		display: inline-block;
		vertical-align: top;
		margin: 0 0 0 7px;

		@include media('<=tablet') {
			display: block;
			margin: 0 0 5px;
		}

		&:hover{
			>.has-dropdown{
				display: inherit;
			}
		}

		&:last-child{

			>.has-dropdown{
				left: auto;
				right: 0;
			}
			
		}
	}

	a{
		color: #201f45;
		position: relative;
		padding: 3px 7px 4px;

		&:after{
			content: "";
			position: absolute;
			bottom: -15px;
			left: 50%;
			right: 50%;
			height: 2px;
			background: $green;
			transition: all .3s;

			@include media('<=tablet') {
				bottom: -5px;
				left: 0;
				right: 100%;
			}
		}

		&:hover{
			&:after{
				left: 7px;
				right: 7px;
			}
		}
	}
}

.has-dropdown{
	position: relative;

	&:hover{
		>.dropdown{
			display: inherit;
		}
	}

	&:last-child{
		.dropdown{
			left: auto;
			right: 0;

				.dropdown{
				left: auto;
				right: 100%;
			}	
		}	
	}

	li{
		@include media('<=tablet') {
			margin: 0;
		}
	}
}

.dropdown{	
	@extend %listreset;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 100px;
	background: #f6f6f6;
	text-align: left;
	padding: 8px 0;

	@include media('<=tablet') {
		position: static;
		padding: 5px 0 0;
	}

	.has-dropdown{
		.dropdown{
			left: 100%;
			top: 0;
		}
	}

	li{
		display: block;
		padding: 0 7px;
		margin: 0;

		@include media('<=tablet') {
			padding: 0 15px;
		}
	}

	a{
		padding: 0;
		line-height: 2;

		&:after{
			bottom: -5px;
			left: 0;
			right: 100%;
		}

		&:hover{
			&:after{
				left: 0;
				right: 0;
			}
		}
	}
}

/**start burger menu**/

.nav-active{
	.navbar{
		display: inline-block;
	}

	.nav-opener{
		span{
			display: none;
		}

		&:before,
		&:after{
			top: 10px;
			bottom: auto;
			transform: rotate(45deg);
			transition: top .2s, .2s transform .4s;
		}

		&:after{
			transform: rotate(-45deg);
			top: auto;
			bottom: 10px;
			transition: bottom .2s, .2s transform .4s;
		}
	}
}

.nav-opener{
	display: none;
	float: right;
	position: relative;
	width: 30px;
	height: 23px;

	span,
	&:before,
	&:after{
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
		height: 3px;
		background: $blue;
	}

	span{
		top: 10px;
	}

	&:before{
		top: 0;
		transition:  transform .2s,  .2s top .4s;
	}

	&:after{
		bottom: 0;
		transition:  transform .2s,  .2s bottom .4s;
	}

	@include media('<=tablet') {
		display: inline-block;
		vertical-align: top;
	}
}